<div data-th-fragment="top-navigation" class="col-xl-10 col-lg-9 col-md-8 bg-dark ml-auto fixed-top py-2 top-navbar">
    <div class="row align-items-center">
        <div class="col-md-4">
            <h4 class="text-light">Dashboard</h4>
        </div>
        <div class="col-md-5">
            <form class="form-inline">
                <input
                    class="form-control mr-sm-2 search-input"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                    />
                <button class="btn btn-white search-button" type="button">
                    <i class="fas fa-search text-success"></i>
                </button>
            </form>
        </div>
        <div class="col-md-3">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-comments text-muted fa-lg"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-bell text-muted fa-lg"></i>
                    </a>
                </li>
                <li class="nav-item ml-md-auto">
                    <a href="#" class="nav-link">
                        <i class="fas fa-sign-out-alt text-danger fa-lg"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
